@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

.main-navbar {
  background-color: #00070a;
}

.main-navbar .navbar-brand {
  font-size: 40px;
  font-weight: bold;
}

.main-navbar .navbar-brand span {
  color: #f2003f;
}

.hero-section h1 {
  font-size: 75px;
}

.hero-section .card {
  border: unset;
  border-radius: unset;
}

.hero-section .card-img {
  border-radius: unset;
}

@media (max-width: 575.98px) {
  .hero-section .card-img-overlay {
    margin-top: 0 !important;
  }
  .hero-section .sm-no-mr {
    margin-top: 0 !important;
  }
  .hero-section h1 {
    font-size: 30px;
  }
}

.about-us {
  background-color: #000b16;
}

.about-us ul li {
  margin-top: 10px;
}

.about-us ul li::before {
  content: ">";
  background-color: #f2003f;
  padding: 0 5px;
  color: #00070a;
  font-weight: 600;
  border-radius: 50%;
  line-height: 16px;
  margin-right: 5px;
}

.steps {
  background-color: #010e1b;
}

.courses {
  background-color: #000b16;
}

.courses h2 {
  color: #f2003f;
}

.courses .card {
  border: unset;
  background-color: transparent;
}

.courses .card-link {
  color: #f2003f;
}

.videos {
  background-color: #010e1b;
}

.blogs {
  background-color: #000b16;
}

.blogs .card {
  border: unset;
  background-color: transparent;
}

.blogs .card-link {
  color: #f3f3f3;
}

.blogs .card-link::after {
  content: "->";
  margin-left: 5px;
  font-weight: bold;
}

.footer {
  background-color: #010e1b;
}

.footer span {
  color: #f2003f;
}

.footer .li-margin-right li {
  margin-right: 15px;
}

.footer .li-margin-top li {
  margin-top: 10px;
}

.btn-pink {
  color: #fff;
  background-color: #f2003f !important;
  border-color: #f2003f !important;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
  background-color: #ce0037 !important;
  border-color: #ce0037 !important;
}
